/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

db-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-size: 180%;
  text-indent: -0.5em;
}

db-para {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}